# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment
.env
.venv
venv/
ENV/
env/



# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.next/
out/

# Testing
.pytest_cache/
.coverage
htmlcov/
